<h1>Demos of OpenLayers and Leaflet Using Rails Stimulus</h1>

<div><%= link_to "ol-layer-group", ollayergroup_path %><div>
<div><%= link_to "ol-osm-map", olosmmap_path %></div>
<div><%= link_to "ol-static-image", olstaticimage_path %></div>
<div><%= link_to "leaflet-test", leaflettest_path %></div>