<!-- views/demo/ollayergroup.html.erb -->

<h4 class="text-center"><%= link_to "Leaflet Data Overlay", ""%></h4>
TBD
<div id="ldomap"
   data-controller="lt-data-overlay"
	 data-lt-data-overlay-target="ldomap"
	 style="height:400px">
 </div>

<!-- Nav -->
<div>&nbsp;</div>
<div class="text-center">
	<%#= link_to "> Leaflet with a map and markers", leaflettest_path, class: "btn btn-outline-success" %>
	<%#= link_to "Home Page", root_path, class: "btn btn-outline-info"  %>
	<%#= link_to "OpenLayers with Layer Switcher", ollayerswitcher_path, class: "btn btn-outline-success caret-right-fill" %>
</div>
