<!-- views/demo/ollayergroup.html.erb -->

<div><%= link_to "Back to Index", root_path %></div>

<p class="text-center"><%= link_to "Leaflet Layers Control", "https://leafletjs.com/examples/layers-control/" %></p>

<div id="mapll" data-controller="leaflet-test" data-leaflet-test-target="leaftest" style="height:400px"></div>

<div><%= link_to "Back to Index", root_path %></div>