<!-- views/demo/ollayergroup.html.erb -->

<div><%= link_to "Back to Index", root_path %></div>

<p>leaflet-test</p>
<div id="mapll" data-controller="leaflet-test" data-leaflet-test-target="leaftest" style="height:400px"></div>

<div><%= link_to "Back to Index", root_path %></div>