<!-- views/demo/ollayergroup.html.erb -->

<h4 class="text-center"><%= link_to "Layer Group", "http://raw.githack.com/walkermatt/ol-layerswitcher/master/examples/layerswitcher.html"%></h4>

<div id="mapolg" 
   data-controller="ol-layer-group" 
	 data-ol-layer-group-target="lgmap" 
	 style="height:400px">
 </div>

<div>&nbsp;</div>
<div class="text-center">
	<%= link_to "OpenLayers Basic Layer Switcher", ollayerswitcher_path, class: "btn btn-outline-success"  %>
	<%= link_to "Home Page", root_path, class: "btn btn-outline-info" %>
	<%= link_to "Next: OpenLayers with an OSM map", olosmmap_path, class: "btn btn-outline-success" %>
</div>