<!-- views/demo/ollayergroup.html.erb -->

<div><%= link_to "Back to Index", root_path %></div>
<p>ol-layer-group in os-stimulus-mapping</p>
<div id="mapolg" data-controller="ol-layer-group" data-ol-layer-group-target="lgmap" style="height:400px">data-controller=ol-layer-group</div>
<div><%= link_to "Back to Index", root_path %></div>