<!-- views/demo/ollayergroup.html.erb -->

<h4 class="text-center"><%= link_to "OpenLayers Basic OSM Map", "https://openlayers.org/doc/tutorials/concepts.html" %></h4>

<div id="maposm" data-controller="ol-osm-map" data-ol-osm-map-target="osmmap" style="height:400px"></div>

<div>&nbsp;</div>
<div class="text-center">
	<%= link_to "OpenLayers with Layer Group", ollayergroup_path, class: "btn btn-outline-success" %>
	<%= link_to "Home Page", root_path, class: "btn btn-outline-info"  %>
	<%= link_to "OpenLayers with a Static Image", olstaticimage_path, class: "btn btn-outline-success"  %>
</div>