<!-- views/demo/ollayergroup.html.erb -->

<div><%= link_to "Back to Index", root_path %></div>
<p>ol-osm-map</p>
<div id="maposm" data-controller="ol-osm-map" data-ol-osm-map-target="osmmap" style="height:400px"></div>
<div><%= link_to "Back to Index", root_path %></div>