<!-- views/demo/ollayergroup.html.erb -->

<div><%= link_to "Back to Index", root_path %></div>

<hr><h4><%= link_to "Static Image OpenLayers Example", "https://openlayers.org/en/latest/examples/static-image.html" %></h4>
<div id="mapsi" data-controller="ol-static-image" data-ol-static-image-target="simage" style="height:400px"></div>

<div><%= link_to "Back to Index", root_path %></div>